[user]
  email = perfectt93@gmail.com
  name = akibarika

[pull]
  ff = only

[ghq]
  root = ~/repositories
  user = rikaakiba

[include]
  path = ~/.gitconfig.local

[core]
	editor = nvim
[http]
	lowSpeedLimit = 1000
	lowSpeedTime = 60
	postBuffer = 524288000
[lfs]
	concurrenttransfers = 3
[lfs "customtransfer.xet"]
	path = git-xet
	args = transfer
	concurrent = true
